body{
    margin: 0;
    background-color:  rgba(114, 89, 255, 0.2);
}

header{
    background-color:rebeccapurple;
    margin: 0;
    width: 100%;
    height: 110px;
    
   
   
}
header.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  
}
header nav{
    height: 1px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
}
header a:hover{
    background-color: white;
    color: rebeccapurple;
}
header a{
    margin-bottom: 20px;
    text-align: end;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    text-align: justify;
    margin-left: 150px ;
    margin-right: 150px;
   
}
header .imagen{
    margin: 0;
    padding: 10px 10px;
    font-weight: bold;
    color: rgb(42, 17, 63);
    font-size: 1.6em;
}
.cuerpo{
    text-align: center;
  
}

button{
    height: 30px;
    background-color: rebeccapurple ;
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    
}

button:hover{
    animation: backwards;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkorange;
    font-size: 25px;
}

@media(min-width:650px){
    header{
     
        width: 100%;
    }
    header.contenedor{
        flex-direction: column;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        
    }
    header div nav a{
        flex-direction: row;
    }
}